# test suite 

You should research on the internet for example data where there are examples of logical statements. 
Some of them have complete logical clarity, but many word problems imply knowledge about the world, like "if it takes 1 hours to dry 1 shirt in the sun, how long will it take to dry 1000 shirts?" And the answer depends on the size of the clothes, line, variations in the cloths, the weather, how many people are changing the lines. Each of those are scenarios. So, logic involves two steps 1) what logic is fact 2) what logic is conjecture. Because the logic engine also has access to an llm , the steps in your version should be 

1. find facts and relationships
2. look for logical consistency in facts
3. look for gaps in facts
4. imagine the gaps and label them
5. deduce logical conclusion in different scenarios
